    html {
    height: 100%;
    font-family: Odin;
    
  }
    body{
        height: 100%;
        display: flex;
        flex-direction: row;
        border: 1px solid black;
    }
  
  #bg {
    /* The image used */
    background-image: url(bg.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @font-face {
    font-family:Odin ;
    src: url(Norse-Bold.otf);
  }
h1 {
    display: flex;
    justify-content: center;
}

div{
    border: 1px solid black;
}

.side {
    width: 30%;
    display: flex;
    flex-direction:column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 82px;
    background-color: rgba(4, 4, 4, 0.408);
    margin-top: 50px;
}

.main {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.odin {
  height: 72px;
}

form {
  height:33%;
}

.top {
  height:33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  font-size: 20px;
}

.bottom {
  height: 33%;
  background-color: whitesmoke;
}