    html {
    height: 100%;
    font-family: Odin;
    
  }
    body{
        height: 100%;
        display: flex;
        flex-direction: row;
    }
  
  #bg {
    /* The image used */
    background-image: url(bg.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @font-face {
    font-family:Odin ;
    src: url(Norse-Bold.otf);
  }
h1 {
    display: flex;
    justify-content: center;
}


.side {
    width: 30%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}

.logo {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 82px;
    background-color: rgba(4, 4, 4, 0.408);
    margin-top: 50px;
    height: 80px;
}

.main {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.odin {
  height: 72px;
}

form {

  display: flex;
  flex-direction: row;
  padding-left: 5%;
  height:33%;
  align-items: center;
  background-color: white;
  box-shadow: 10px 10px 10px black;
}

.top {
  height:33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(238, 232, 232);
  font-size: 20px;
}


.bottom {
  background-color: rgb(238, 232, 232);
  height:33%;
  margin-top: 10px;

}

fieldset{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 0;
}

.login {
  margin-top: 10px;
  margin-left: 10px;
}

button {
  margin-top: 30px;
  margin-left: 10px;
}

input:focus {
  background-color: lightblue;
}

#password:invalid, #confirm:invalid{
  border: 1px solid  red;
}

.credit {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  color: white;
}