    html {
    height: 100%;
    font-family: Odin;
    
  }
    body{
        height: 100%;
        display: flex;
        flex-direction: row;
        border: 1px solid black;
    }
  
  #bg {
    /* The image used */
    background-image: url(bg.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @font-face {
    font-family:Odin ;
    src: url(Norse-Bold.otf);
  }
h1 {
    display: flex;
    justify-content: center;
}

div{
    border: 1px solid black;
}

.side {
    width: 30%;
}

.main {
    width: 70%;
}